---
import Layout from "../../layouts/default.astro";
import Title from "../../components/Title/Title.astro";

const catagories = ["mandelbrot"];
---

<Layout>
  <Title
    title="Some fractals I made"
    about="I have made some fractal explorers. Some fractals are well known, some are made my me."
    icon="f140"
  />

  <ul class="list">
    {
      catagories.map((url) => (
        <li class="element">
          <a
            class="link"
            href={`/fractals/${url}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            {url}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  .list {
    padding: 0em 1em 5em 1em;
    max-width: 15em;
    margin: auto;
  }
  .element {
    padding-bottom: 0.3em;
    padding-top: 0.2em;
    border-bottom: 1px solid var(--color-backdrop);
    text-align: center;
  }
  .link {
    font-size: 1.2em;
    color: var(--color-accent);
  }
  .link:hover {
    text-decoration: underline;
  }
  .element:last-child {
    border-bottom: none;
  }
</style>
