---
import Layout from "../layouts/default.astro";
import Title from "../components/Title/Title.astro";
import meImg from "../assets/misc/me.jpg";
---

<Layout>
  <Title title="About me" icon="f2bb" />
  <div class="meBox">
    <img class="img" src={meImg.src} alt="Portrait of me" />
    <p>
      <span class="hi">My name is Gerhard.</span> I love making stuff. I have a degree
      in Informatics and love coding, but I do mostly other stuff. Right now I am
      building a product for outdoor bouldering. My dream is to become an inventor,
      although I keep hearing that's not actually a job title. Other than that I like
      reading & waching movies, and if I am in the mood, maybe some writing. I also
      like climbing, snowboarding and long hikes. Thanks for checking out my site!
    </p>
  </div>

  <div class="likeBox">
    <div class="subbox">
      <h3>Some software I use:</h3>
      <div class="flexbox">
        <a
          href="https://syncthing.net/"
          target="_blank"
          rel="noopener noreferrer">syncthing</a
        >
        <a href="https://obsidian.md/" target="_blank" rel="noopener noreferrer"
          >obsidian</a
        >
        <a href="https://nixos.org/" target="_blank" rel="noopener noreferrer"
          >nixos</a
        >
        <a
          href="https://code.visualstudio.com/"
          target="_blank"
          rel="noopener noreferrer"><span class="line">nvim</span> vscode</a
        >
        <a
          href="https://fishshell.com/"
          target="_blank"
          rel="noopener noreferrer">fish</a
        >
      </div>
    </div>
    <div class="subbox">
      <h3>Contact me:</h3>
      <div class="flexbox">
        <a href="mailto:gerhard.page@proton.com">gerhard.page@proton.com</a>
        <p class="center">&</p>
        <a
          href="https://github.com/GerhardMe"
          target="_blank"
          rel="noopener noreferrer">github</a
        >
      </div>
    </div>
  </div>
  <div class="siteBox">
    <a
      class="siteLink"
      href="https://github.com/GerhardMe/gergus3"
      target="_blank"
      rel="noopener noreferrer"><span class="icon">&#xf09b;</span> site repo</a
    >
  </div>
</Layout>

<style>
  .meBox {
    padding: 0 1em;
    min-height: 16em;
    img {
      float: left;
      shape-outside: circle();
      border-radius: 50%;
      width: 15em;
      height: auto;
      margin: 0 1em 1em 0;
      box-shadow: 0.03em 0.03em 0.5em var(--color-shadow);
    }

    p {
      .hi {
        font-size: 1.5em;
        font-weight: bold;
        font-family: "Times New Roman";
        color: var(--color-accent);
      }
    }
  }

  h3 {
    text-align: center;
    padding-bottom: 0.7em;
  }

  .likeBox {
    display: flex;
    .subbox {
      padding: 1em;
      width: 50%;

      .flexbox {
        display: flex;
        flex-direction: column;
        height: 8em;
      }

      .line {
        text-decoration: line-through;
        padding-left: 3.5em;
      }
    }

    padding-bottom: 0.5em;
  }

  a {
    text-align: center;
    color: var(--color-accent);
    cursor: pointer;
    margin-bottom: 0.3em;
  }
  a:hover {
    text-decoration: underline;
  }
  a:last-child {
    border-bottom: none;
  }

  .siteBox {
    width: 100%;
    display: block;

    padding: 0.5em;
  }
  .siteLink {
    border-top: 1px solid var(--color-bg-dark);
    display: block;

    padding-top: 3em;
    padding-bottom: 0;

    width: 100%;
    text-justify: center;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 900px) {
    .meBox {
      display: flex;
      flex-direction: column;

      img {
        margin: auto;
        margin-top: -2em;
        margin-bottom: 2em;
      }
      p {
        text-align: center;
      }
      padding-bottom: 2em;
    }
    .likeBox {
      flex-direction: column;

      .subbox {
        width: 100%;
      }
    }
  }
</style>
