---
interface Props {
    target: string;
}
const { target } = Astro.props;
---

<btn
    class="burger"
    role="button"
    aria-pressed="false"
    tabindex="0"
    data-target={target}
    client:load
>
    <p>~</p>
    <p>~</p>
    <p>~</p>
</btn>

<script>
    const burger = document.querySelector(".burger") as any;
    const nav = document.querySelector(burger?.dataset.target);

    let expanded = false;

    function toggle() {
        if (expanded) {
            nav.classList.toggle("animate");
            setTimeout(() => nav.classList.toggle("expanded"), 200);
            expanded = false;
        } else {
            nav.classList.toggle("expanded");
            setTimeout(() => nav.classList.toggle("animate"), 0);
            expanded = true;
        }
        burger?.classList.toggle("clicked");
        burger?.setAttribute("aria-pressed", String(expanded));
    }

    burger?.addEventListener("click", toggle);
</script>

<style>
    .burger {
        font-size: 3em;

        width: 1em;
        height: 1em;
        position: fixed;
        cursor: pointer;
        color: var(--color-text);
        p {
            margin: -0.46em 0em -1.15em 0.07em;

            user-select: none;
        }
        display: none;

        p {
            transition: transform 0.3s ease;
            font-family: sans;
        }
        z-index: 100;
    }
    .burger:hover {
        color: var(--color-accent);
    }

    @media (max-width: calc(1100px)) {
        .navbar {
            visibility: hidden;
            opacity: 0;
        }
        .burger {
            display: block;
        }

        .clicked {
            p:first-child {
                transform: translateY(0.05em) translateX(-0.04em) rotate(-45deg);
            }

            p:nth-child(2) {
                transform: translateY(0.15em) rotate(45deg);
            }

            p:last-child {
                transform: rotate(45deg);
            }
        }
    }
</style>
