---
import DarkMode from "./DarkMode.astro";
import Link from "./link.astro";
import Burger from "./Burger.astro";
---

<div>
  <nav id="navbar" class="navbar">
    <div class="marginAuto">
      <ul>
        <Link title="home" pages={[""]} />

        <Link title="by me :" pages={["writings", "projects", "photos"]} />
        <Link title="for you :" pages={["guestbook", "garden", "about"]} />
        <Link title="stuff I like :" pages={["movies", "books"]} />
        <Link title="my links" pages={["links"]} />
      </ul>
      <DarkMode />
    </div>
  </nav>

  <Burger target="#navbar" />
</div>

<!-- ######################## CSS ######################## -->

<style>
  .navbar {
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6em;
    transition: opacity 0.2s ease;
    z-index: 100;
  }

  @media (max-width: calc(1100px)) {
    .navbar {
      visibility: hidden;
      opacity: 0;
    }

    .expanded {
      visibility: visible;

      z-index: 100;
      width: 100%;
      height: 200vh;
      margin-top: -50vh;
      padding-left: 0;
      .marginAuto {
        margin: auto;
      }
    }

    .vissible {
      opacity: 1;
    }
  }
</style>
