---
import Layout from "../../layouts/default.astro";
import List from "../../components/ObjList/ObjList.astro";
import Book from "../../components/ObjList/Lists/Book.astro";
import Title from "../../components/Title/Title.astro";
const modules = import.meta.glob("./list/*.md", { eager: true });
const media = Object.values(modules);
---

<Layout>
  <Title
    title="Books I've read"
    about="This is a list of the books I have read. I have given every book a number of stars. These are given as if the books had come out today, so if you find classics rated low, then either it went completely over my head, or its ideas have been better explored in later works."
    icon="f02d"
  />

  <div id="website-bookclub">
    <script
      type="text/javascript"
      src="https://isak.me/onionring/onionring-variables.js"></script>
    <script
      type="text/javascript"
      src="https://isak.me/onionring/onionring-widget.js"></script>
  </div>

  <List
    media={media}
    groupBy={["read", "author", "rating", "year"]}
    favorites={true}
    Item={Book}
  />
</Layout>

<style>
  #website-bookclub {
    padding: 0em 0.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
</style>
