---
import Layout from "../../layouts/default.astro";
import IndexList from "../../components/IndexList/Groups.astro";
import List from "../../components/IndexList/Lists/Books.astro";
import Title from "../../components/Title/Title.astro";
const modules = import.meta.glob("./*.md", { eager: true });
const media = Object.values(modules);
---

<Layout>
  <Title
    title="Books I've read"
    about="Here i ... and a bit of sssdjkad. enjoy!"
    icon="f02d"
  />
  <div id="website-bookclub">
    <script
      type="text/javascript"
      src="https://isak.me/onionring/onionring-variables.js"></script>
    <script
      type="text/javascript"
      src="https://isak.me/onionring/onionring-widget.js"></script>
  </div>
  <IndexList
    media={media}
    groupBy={["time", "author", "rating", "year"]}
    favorites={true}
    List={List}
  />
</Layout>
