---
import Layout from "../../layouts/default.astro";
import List from "../../components/ObjList/ObjList.astro";
import Book from "../../components/ObjList/Lists/Book.astro";
import Title from "../../components/Title/Title.astro";
const modules = import.meta.glob("./list/*.md", { eager: true });
const media = Object.values(modules);
---

<Layout>
  <Title
    title="Books I've read"
    about="This is a list over the books I have read. I have given every book a number of stars. Theese are given as if the books had come out today, so If you find clasics rated low, then ether it went compleatly over my head, or it's ideas have been better explored in later works."
    icon="f02d"
  />
  <div id="website-bookclub">
    <script
      type="text/javascript"
      src="https://isak.me/onionring/onionring-variables.js"></script>
    <script
      type="text/javascript"
      src="https://isak.me/onionring/onionring-widget.js"></script>
  </div>
  <List
    media={media}
    groupBy={["read", "author", "rating", "year"]}
    favorites={true}
    Item={Book}
  />
</Layout>
