---
import Layout from "./default.astro";
const parentPath = Astro.url.pathname.replace(/\/[^/]+\/[^/]+\/?$/, "/");
const { frontmatter } = Astro.props;
---

<Layout>
  <div class="size">
    <div class="titlebox">
      <h1 class="title">{frontmatter.title}</h1>
      <img src="/favicon.png" />
      <div class="date">
        <p>
          {new Date(frontmatter.date).toLocaleDateString("en-UK")}
        </p>
        <a class="backBtn" href={parentPath}>back</a>
      </div>
    </div>

    <div class="article">
      <slot />
    </div>
    <div class="center">
      <a class="backBtn" href={parentPath}>back</a>
    </div>
  </div>
</Layout>

<!-- ######################## CSS ######################## -->

<style>
  .size {
    margin: auto;
    padding: 0em 1em;
    padding-bottom: 10em;
  }

  .titlebox {
    position: relative;

    .title {
      text-align: center;
      border-bottom: 1px solid var(--color-bg-dark);
      margin-right: 1.2em;
      padding-bottom: 0.3em;
    }

    img {
      position: absolute;
      height: 2em;
      right: 0;
      bottom: 1em;
    }

    .date {
      margin-top: 1em;
      color: var(--color-text-blockquote);

      p {
        font-size: 0.8em;
      }

      display: flex;
      justify-content: space-between;

      padding-right: 3.1em;
    }
    margin-bottom: 4em;
  }

  .backBtn {
    cursor: pointer;
    color: var(--color-text-link);
    font-size: 0.8em;

    &:hover {
      text-decoration: underline;
    }
  }

  .article {
    line-height: 1.7;

    :global(a) {
      color: var(--color-text-link);

      &:hover {
        text-decoration: underline;
      }
    }

    :global(p) {
      margin-bottom: 1em;
    }
    :global(p:has(> img:only-child)) {
      padding: 2em 1em 2em 1em;
    }

    :global(img) {
      display: block;
      margin: auto;
      max-width: calc(100% - 2em);
      max-height: 40em;

      border-radius: 0.2em;
      box-shadow: 0 0 8px var(--color-shadow);
    }

    :global(img:before) {
      display: block;
      font-size: 0.8em;
      padding: 4em;
      text-align: center;
      font-style: italic;
      color: var(--color-bg-dark);
    }

    :global(h1, h2, h3) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    :global(ul) {
      list-style: none;
      padding-left: 1.5em;
    }
    :global(ul li) {
      margin-bottom: 0.5em;
    }
    :global(ul li)::before {
      content: "-";
      margin-left: -0.9em;
      margin-right: 0.5em;
      font-weight: 600;
    }

    :global(ol) {
      padding-left: 1.5em;
      list-style: numbers;
    }

    :global(ol li) {
      margin-bottom: 0.5em;
    }

    :global(ol li::marker) {
      font-weight: bold;
    }

    :global(pre) {
      margin: 1em;
      border-radius: 0.2em;
      padding: 0.4em;
    }

    :global(blockquote) {
      padding-left: 1em;
      padding-right: 1em;
      color: var(--color-text-blockquote);

      border-left: 0.3em solid var(--color-text-blockquote);
    }

    :global(table) {
      border-collapse: collapse;
      margin: 1.5em;
      width: calc(100% - 3em);
      font-size: 0.9em;
    }
    :global(table th),
    :global(table td) {
      padding: 0.5em 0.8em;
      border-bottom: 1px solid var(--color-backdrop);
      text-align: left;
    }
    :global(table th) {
      font-weight: 600;
    }
    :global(table tr:last-child td) {
      border-bottom: none;
    }
  }
</style>
