* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    view-transition-name: wallpaper;
}

::view-transition-old(wallpaper),
::view-transition-new(wallpaper) {
    animation: none;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    all: unset;
}

.center {
    display: grid;

    * {
        place-self: center;
    }
}

.animateHide {
    transition: opacity 0.2s ease;
}


@media (max-width: calc(1100px)) {
    .hide {
        opacity: 0;
    }
}

/* Collor palette */

:root {
    /* BASE */
    --color-bg: #ffffff;
    --color-fg: #222222;
    --color-accent: #009400;

    --color-bg-dark: #535353;
    --color-backdrop: #00000018;
    --color-shadow: #00000080;


    --color-text: var(--color-fg);
    --color-text-blockquote: #353535;
    --color-text-link: var(--color-accent);

    --color-error: #df0000;
    --color-gold: #f5e500;
}

:root.dark {
    --color-bg: #141214;
    --color-fg: #fffefa;
    --color-accent: #8a2be2;

    --color-bg-dark: #b4b4b4;
    --color-backdrop: #ffffff07;
    --color-shadow: #00000080;


    --color-text: var(--color-fg);
    --color-text-blockquote: #d1d1d1;
    --color-text-link: var(--color-accent);

    --color-error: #bb0000;
    --color-gold: #f1e100;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Icons";
    src: url("/fonts/forkawesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sans";
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "sans";
    src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Palatino Linotype";
    src: url("/fonts/Palatino-Linotype-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url("/fonts/TimesNewRoman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: "Icons";
}